@model IndexVM
@{
    ViewBag.Page = "Home Page";
}
@if (TempData["Subscribe"] != null)
{
    if ((bool)TempData["Subscribe"] == false)
    {
        <input type="hidden" id="Success" />
    }
    else
    {
        <input type="hidden" id="Error" />
    }
}
<!-- Product Catagories Area Start -->
<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">


        @foreach (Product product in Model.Products)
        {
            <div class="single-products-catagory clearfix">
                <a href="shop.html">
                    <img src="~/img/product-img/@product.ProductImages?.FirstOrDefault()?.Image.Url" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From $@product.Price</p>
                        <h4>@product.Name</h4>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
@section Script{
<script src="~/js/Toastr.js"></script>
}
<!-- Product Catagories Area End -->
