@using Amado.Entities
@model List<Product>

<ul class="list-group">
    @foreach (var product in Model)
    {
        <a asp-controller="Shop" asp-action="Detail" asp-route-id="@product.Id">
        <li class="list-group-item">@product.Name</li></a>
    }
</ul>